* {
    font-family: 'SF Pro Display', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body, html {
    background-color: #eee;
    scroll-snap-type: y proximity;
    scroll-snap-stop: always;
}

/* Menu */
header {
    width: 100vw;
    background-color: #fff;
}

.menu-icon-mobile {
    display: none;
}

.project-menu {
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 0 auto;
}

.project-menu-logo-container {
    width: 200px;
    background-color: #fff;
}

.project-menu img {
    width: 100%;
    background-color: #fff;
}

.project-navigation {
    background-color: #fff;
}

.project-navigation ul {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.project-navigation li {
    list-style-type: none;
    margin-left: 40px;
    background-color: #fff;
}

.project-navigation a {
    font-family: 'SF Pro Text', Helvetica, sans-serif;
    text-decoration: none;
    color: #1d1d1f;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.01em;
    background-color: #fff;
}

.menu-icon-mobile {
    display: none;
  }
  
  .menu-icon-animation-mobile {
    display: none;
    cursor: pointer;
  }
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
    overflow: hidden;
  }
  .change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
  }

/* Main Content */

.background-image-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lume-hero-section,
.lume-intro-section {
    height: 100vh;
}
.lume-hero-section-img {
    background-image: url("./Media/lume-main.png");
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#hero-text {
    background-color: transparent;
    font-weight: 600;
    background-image: url("./Media/lume\ title.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.lume-intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: black;
}
.lume-intro-text {
    width: 80vw;
    max-width: 980px;
    font-weight: 500;
    color: #ccc;
    text-align: center;
    background-color: transparent;
}
#title-text {
    font-size: 40px;
    font-weight: 500;
    background-color: transparent;
}
.lume-product-landing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.lume-product-name {
    display: none;
    font-size: 80px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    opacity: 0;
}
.lume-outdoor-no-background,
.lume-home-no-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .lume-outdoor-no-background video {
    height: 100px;
    position: absolute;
    left: 30px;
} */
.lume-outdoor-no-background {
    background-image: url("./Media/lume-outdoor-no-background-2.png");
    background-size: contain;
    max-height: 65vh;
    max-width: 1200px;
}
/* .lume-outdoor-left {
    background-position: left 10vw top 50%;
    background-color: #fff;
} */
.lume-home-no-background {
    background-image: url("./Media/lume-home-no-background-2.png");
    background-size: contain;
    max-height: 50vh;
    max-width: 1200px;
}
.lume-outdoor-text,
.lume-home-text {
    display: none;
    flex-direction: column;
    color: #000;
    max-width: 500px;
    background-color: transparent;
    opacity: 0;
    transform: translateY(100vh);
}
.lume-outdoor-text-animation {
    display: flex;
    transition: all 1s ease-in-out;
}
.lume-outdoor-text h4,
.lume-home-text h4 {
    font-size: 25px;
}
.lume-outdoor-text h3,
.lume-home-text h3 {
    font-size: 65px;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: -0.015em;
    margin-top: 10px;
}
.lume-outdoor-text p,
.lume-home-text p {
    font-size: 22px;
    margin-top: 20px;
    color: #86868b;
    font-weight: 500;
}

/* Lume Brief */
.lume-brief-box {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 50px;
}
.lume-section-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
    padding-left: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #424245;
}
.lume-brief-img {
    background-image: url("./Media/lume-brief.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-radius: 18px;
}
.lume-brief-text {
    display: flex;
    margin-top: 80px;
    gap: 80px;
}
.lume-brief-text-left {
    height: 100%;
    flex: 1;
    border-top: 1px solid #424245;
    padding-top: 20px;
    opacity: 0;
    transform: translateY(50px);
}
.lume-brief-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.142857;
}
.lume-brief-text-right {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    gap: 50px;
}
.lume-brief-paragraph {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.4211;
    letter-spacing: .012em;
    border-top: 1px solid #424245;
    padding-top: 20px;
    opacity: 0;
    transform: translateY(150px);
}

/* Lume Opportunity */
.lume-opp-box {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 120px;
}
.lume-opp-img {
    background-image: url("./Media/lume-opp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-radius: 18px;
}
.lume-opp-text {
    display: flex;
    margin-top: 80px;
    gap: 80px;
}
.lume-opp-text-left {
    height: 100%;
    flex: 1;
    border-top: 1px solid #424245;
    padding-top: 20px;
    opacity: 0;
    transform: translateY(50px);
}
.lume-opp-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.142857;
}
.lume-opp-text-right {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    gap: 50px;
}
.lume-opp-paragraph {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.4211;
    letter-spacing: .012em;
    border-top: 1px solid #424245;
    padding-top: 20px;
    opacity: 0;
    transform: translateY(150px);
}

/* Lume Sketches */
.lume-sketch-box {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}
.lume-sketch-section-box {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.lume-sketch-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 430px;
    gap: 80px;
}
.lume-sketch-img {
    height: 100%;
    /* flex: 1.5; */
    border-radius: 18px;
}
.lume-sketch-paragraph {
    flex: 1;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.4211;
    letter-spacing: .012em;
    border-left: 1px solid #424245;
    padding-left: 20px;
    align-self: flex-end;
}
.lume-sketch-img-box {
    height: 100%;
    flex: 1.5;
    border-radius: 18px;
    overflow: hidden;
}
.lume-sketch-1 {
    background-image: url(./Media/lume-sketch-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lume-sketch-2 {
    background-image: url(./Media/lume-sketch-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lume-sketch-3 {
    background-image: url(./Media/lume-sketch-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Lume Process */
.lume-process-box {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}
.lume-process-img-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.lume-process-img-first-row,
.lume-process-img-second-row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.lume-process-img {
    width: 465px;
    height: 465px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    opacity: 0;
}
.lume-process-img-1 {
    background-image: url("./Media/lume-process-1.JPG");
}
.lume-process-img-2 {
    background-image: url("./Media/lume-process-2.JPG");
}
.lume-process-img-3 {
    background-image: url("./Media/lume-process-3.JPG");
}
.lume-process-img-4 {
    background-image: url("./Media/lume-process-4.jpg");
}
.lume-process-text-box {
    display: flex;
    margin-top: 80px;
    gap: 80px;
}
.lume-process-text-left {
    height: 100%;
    flex: 1;
    border-top: 1px solid #424245;
    padding-top: 20px;
}
.lume-process-text-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.142857;
}
.lume-process-text-right {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    gap: 50px;
}
.lume-process-text-paragraph {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.4211;
    letter-spacing: .012em;
    border-top: 1px solid #424245;
    padding-top: 20px;
}

/* Lume Charging */
.lume-charge-box {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}
.lume-charge-section-box {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.lume-charge-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border-radius: 18px;
}
.lume-commercial-charge {
    background-image: url(./Media/lume-charge-1.jpg);
}
.lume-home-charge {
    background-image: url(./Media/lume-charge-2.jpg);
}
.lume-charge-text-box {
    display: flex;
    margin-top: 80px;
    gap: 80px;
}
.lume-charge-text-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.142857;
    flex: 1;
    border-top: 1px solid #424245;
    padding-top: 20px;
}
.lume-charge-text-paragraph {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.4211;
    letter-spacing: .012em;
    border-top: 1px solid #424245;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1.5;
    gap: 50px;
}

/* Spacial Design */
.one-more-thing {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.one-more-thing-text {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.spacial-intro {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    scroll-snap-align: start;
}
.spacial-intro-text {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.14;
    color: #fff;
    max-width: 800px;
    text-align: center;
}

.culture-food-box {
    width: 80vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    gap: 120px;
    align-items: center;
    scroll-snap-align: start;
}
.culture-food-img-box {
    flex: 1;
    height: 80vh;
}
.culture-food-img {
    background-image: url("./Media/culture-food-img.png.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.culture-food-text-box{
    flex: 1.2;
}
.spacial-subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #555;
}
.spacial-title {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 30px;
}
.spacial-paragraph {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    max-width: 600px;
}

.brand-box {
    width: 80vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    gap: 120px;
    align-items: center;
    scroll-snap-align: start;
}
.brand-img-box {
    flex: 1;
    height: 80vh;
}
.brand-img {
    background-image: url("./Media/spacial-brand.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.brand-text-box {
    flex: 1.2;
}

.audience-box {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
    /* height: 100vh; */
}
.audience-img-box {
    width: 100%;
}
.audience-img {
    background-image: url("./Media/audience.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-radius: 18px;
}
.audience-text-box {
    display: flex;
    margin-top: 80px;
    gap: 80px;
}
.audience-text-left {
    height: 100%;
    flex: 1;
    border-top: 1px solid #424245;
    padding-top: 20px;
}
.spacial-title-smaller {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.142857;
    margin-bottom: 50px;
}
.audience-text-right {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    gap: 50px;
    color: #666;
}
.spacial-paragraph-1 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.4211;
    letter-spacing: .012em;
    border-top: 1px solid #424245;
    padding-top: 20px;
}

.spacial-opp-transition-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./Media/oasis-transition.jpg);
    background-size: cover;
    scroll-snap-align: start;
}
.spacial-opp-text {
    font-size: 80px;
    font-weight: 600;
    background-image: linear-gradient(180deg,#8be962 29%,#6cd179 87%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.spacial-opp-box {
    width: 80vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    gap: 120px;
    align-items: center;
    scroll-snap-align: start;
}
.spacial-opp-img-box {
    flex: 1;
    height: 80vh;
}
.spacial-opp-img {
    background-image: url("./Media/oasis-img.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.spacial-opp-text-box {
    flex: 1.2;
}

.frosted-transition-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./Media/frosted-img.jpg);
    background-size: cover;
    scroll-snap-align: start;
}
.frosted-text {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
}
.frosted-box {
    width: 80vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    gap: 120px;
    align-items: center;
    scroll-snap-align: start;
}
.frosted-img-box {
    width: 100%;
    display: flex;
    gap: 50px;
    height: 80%;
}
.frosted-img-left,
.frosted-img-right {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.frosted-img-1 {
    background-image: url(./Media/frosted-1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    flex: 1;
}
.frosted-img-2 {
    background-image: url(./Media/frosted-2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    flex: 1.5;
}
.frosted-img-3 {
    background-image: url(./Media/frosted-3.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    flex: 1.2;
}
.frosted-img-4 {
    background-image: url(./Media/frosted-4.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    flex: 0.8;
}

.touch-transition-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./Media/touch-img.jpg);
    background-size: cover;
    scroll-snap-align: start;
}
.touch-text {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
}
.touch-box {
    width: 80vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    gap: 120px;
    align-items: center;
    scroll-snap-align: start;
}
.touch-img-box {
    flex: 1;
    height: 80vh;
}
.touch-img {
    background-image: url("./Media/touch-img.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.touch-text-box {
    flex: 1.2;
}

.design-transition-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./Media/site-transition.png);
    background-size: cover;
    scroll-snap-align: start;
}
.design-text {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
}
.spacial-design-box {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
}
.spacial-design-img-box {
    width: 100%;
}
.spacial-design-img {
    background-image: url(./Media/site-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-radius: 18px;
}
.spacial-text-box {
    display: flex;
    margin-top: 80px;
    gap: 80px;
}
.spacial-text-left {
    height: 100%;
    flex: 1;
    border-top: 1px solid #424245;
    padding-top: 20px;
}
.spacial-text-right {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    gap: 50px;
    color: #666;
}
.stop-scrolling {
    height: 100vh;
    overflow: hidden;
}
.site-walk-through {
    overflow-y: auto;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}
.full-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.site-walk-text-box {
    flex: 1;
    display: flex;
    align-items: center;
}
.site-walk-title {
    font-size: 30px;
    font-weight: 600;
}
.site-entrance-img {
    background-image: url(./Media/site-entrance.png);
    flex: 10;
    width: 90%;
    max-width: 1800px;
    border-radius: 18px;
}
.site-enter-img {
    background-image: url(./Media/site-entering.png);
    flex: 10;
    width: 90%;
    max-width: 1800px;
    border-radius: 18px;
}
.site-bar-img {
    background-image: url(./Media/site-bar.png);
    flex: 10;
    width: 90%;
    max-width: 1800px;
    border-radius: 18px;
}
.site-first-floor-back-img {
    background-image: url(./Media/site-first-floor-back.png);
    flex: 10;
    width: 90%;
    max-width: 1800px;
    border-radius: 18px;
}
.site-stair-img {
    background-image: url(./Media/site-stair.png);
    flex: 10;
    width: 90%;
    max-width: 1800px;
    border-radius: 18px;
}
.site-second-floor-plant-img {
    background-image: url(./Media/site-frosted-stair.png);
    flex: 10;
    width: 90%;
    max-width: 1800px;
    border-radius: 18px;
}
.site-second-floor-indoor-img {
    background-image: url(./Media/site-second-indoor.png);
    flex: 10;
    width: 90%;
    max-width: 1800px;
    border-radius: 18px;
}
.site-second-floor-patio-img {
    background-image: url(./Media/site-second-patio.png);
    flex: 10;
    width: 90%;
    max-width: 1800px;
    border-radius: 18px;
}
.site-second-floor-patio-seating-img {
    background-image: url(./Media/site-second-patio-seating.png);
    flex: 10;
    width: 90%;
    max-width: 1800px;
    border-radius: 18px;
}








/* Lume Summary */
.black-background {
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
}
.lume-sum-box {
    max-width: 980px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}
.lume-sum-box .lume-section-title {
    color: #fff;
}
.lume-sum-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.lume-sum-img {
    background-image: url("./Media/lume-light-up.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    max-width: none;
}
.lume-sum-text {
    display: flex;
    margin-top: 10px;
    gap: 80px;
}
.lume-sum-text-left {
    height: 100%;
    flex: 1;
    border-top: 1px solid #424245;
    padding-top: 20px;
}
.lume-sum-text-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.142857;
    color: #fff;
}
.lume-sum-text-right {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    gap: 50px;
}
.lume-sum-text-paragraph {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.4211;
    letter-spacing: .012em;
    border-top: 1px solid #424245;
    padding-top: 20px;
    color: #fff;
}

/* Lume AR */
.lume-ar-box {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
}
.lume-ar-title {
    font-size: 56px;
    line-height: 1.0714;
    font-weight: 600;
    letter-spacing: -0.00028em;
}
.lume-ar-desktop {
    font-size: 24px;
    line-height: 1.33;
    font-weight: 600;
    letter-spacing: 0.0091em;
    color: #86868b;
    margin-top: 20px;
}
.lume-ar-mobile {
    display: none;
}
.lume-ar-img-box {
    display: flex;
    gap: 50px;
    margin-top: 80px;
}
.lume-ar-outdoor,
.lume-ar-home {
    flex: 1;
    height: 700px;
    background-position: bottom 80px right 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
    border-radius: 18px;
}
.lume-ar-outdoor {
    background-image: url(./Media/lume-outdoor-no-background-2.png);
    background-size: 60%;
}
.lume-ar-home {
    background-image: url(./Media/lume-home-no-background-2.png);
    background-size: 60%;
}

/* Footer */
.footer {
    margin-top: 100px;
    padding-bottom: 500px;
}
  
.footer img {
    margin: 0 auto;
    display: block;
    width: 400px;
}


/* Responsive Design */
@media only screen and (min-width: 1441px) {
    .project-menu {
        width: 980px;
    }
    #hero-text{
        width: 450px;
        height: 200px;
    }
    .lume-outdoor-text,
    .lume-home-text {
        margin-left: 35vw;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1069px) {
    .project-menu {
        width: 980px;
    }
    #hero-text{
        width: 450px;
        height: 200px;
    }
    .lume-intro-text,
    #title-text {
        font-size: 60px;
    }
    .lume-outdoor-text,
    .lume-home-text {
        margin-left: 35vw;
    }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) {
    .project-menu {
        width: 670px;
    }
    #hero-text{
        width: 350px;
        height: 100px;
    }
    .lume-intro-text,
    #title-text {
        font-size: 60px;
    }
    .lume-outdoor-text,
    .lume-home-text {
        margin-left: 35vw;
    }
}

@media only screen and (max-width: 734px) and (min-width: 416px) {
    .project-menu {
        width: 85%;
    }
    #hero-text{
        width: 350px;
        height: 100px;
    }
    .lume-intro-text,
    #title-text {
        font-size: 40px;
    }
    .lume-outdoor-text,
    .lume-home-text {
        max-width: 50vw;
        margin-left: 30vw;
    }
    .lume-outdoor-text h4{
        font-size: 15px;
    }
    .lume-outdoor-text h3{
        font-size: 40px;
    }
    .lume-outdoor-text p{
        font-size: 17px;
    }
}

@media only screen and (max-width: 415px) {
    .project-menu {
        width: 85%;
    }
}

